
<div class="card-content">
   <div	class="card-img">
      <img src="https://images.unsplash.com/photo-1738830656378-c8f96e01ec50?q=80&w=1501&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      <span>
         <h4>{{ destino?.nombre }}</h4>
      </span>
   </div>
   <div	class="card-desc">
      <h3> {{ destino?.nombre }} </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt id, aspernatur nobis asperiores possimus dicta earum. Inventore sequi vero obcaecati libero. Vero eligendi quos libero dignissimos quae veniam a aperiam?
      </p>
      <a href="#" class="btn-card">Read</a>			
   </div>
</div>
